#!/usr/bin/make -f\nSHELL := /bin/bash\n\n.PHONY: build clean binary-indep binary-arch binary\n\nbuild:\n\tcd projectlibre_contrib && ant -Dshrink=false dist\n\tcd projectlibre_build && ant -Dbuild.compiler.warnings=false -Dbuild_contrib=false\n\nclean:\n\tcd projectlibre_contrib && ant clean\n\tcd projectlibre_build && ant clean\n\trm -rf debian/tmp\n\nbinary-indep: build\n\trm -rf debian/tmp\n\tcd projectlibre_build && ant -Dbuild.compiler.warnings=false -Dbuild_contrib=false -Ddeb=../debian/tmp deb-binary\n\tdpkg-deb --root-owner-group --build debian/tmp ..\n\nbinary-arch: build\n\nbinary: binary-indep binary-arch\n